# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Variables de entorno / secretos
.env

# Archivos del sistema
.DS_Store
Thumbs.db

# Datos temporales
*.tmp
*.log